@{
    ViewData["Title"] = "Ingreso";
}

<h1>Ingreso</h1>

<form asp-action="IngresoAlumno" method="post">
    <table>
        <tr>
            <td><label>Nombres</label></td>
            <td><input type="text" name="txtNombres" required /></td>
        </tr>
        <tr>
            <td><label>Apellidos</label></td>
            <td><input type="text" name="txtApellidos" required /></td>
        </tr>
        <tr>
            <td><label>Rut</label></td>
            <td>
                <input type="number" name="txtRut" onKeyPress="if(this.value.length==9) return false;" required />
                -
                <input type="text" name="txtId" maxlength="1" required />
            </td>
        </tr>
        <tr>
            <td><label>Fecha Nacimiento</label></td>
            <td><input type="date" name="txtFecha" required /></td>
        </tr>
        <tr>
            <td><label>Nota</label></td>
            <td><input type="number" step="0.1" name="txtNota" required /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Ingresar" />
            </td>
        </tr>
    </table>
</form>

<br />

<table border="1">
    <thead>
        <tr>
            <th>RUT</th>
            <th>Nombre Completo</th>
            <th>Fecha Nacimiento</th>
            <th>Nota</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.listaAlumnos != null)
        {
            foreach (var alumno in (List<Evaluacion1.Models.Alumno>)ViewBag.listaAlumnos)
            {
                <tr>
                    <td>@alumno.rut-@alumno.id</td>
                    <td>@alumno.nombres @alumno.apellidos</td>
                    <td>@alumno.fecha</td>
                    <td>@alumno.nota</td>
                    <td>@alumno.CalculoNota(alumno.nota ?? 0)</td>
                </tr>
            }
        }
    </tbody>
</table>