@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>
<br />
@* formulario de edicion proveniente del crud en agregar con datos en ViewBag *@
<form asp-controller="Home" asp-action="EditarDatos" method="post">
    <div style="width: 50%;margin: 0 auto;">
        <table>
            @* ingreso usuario con value="@ViewBag.UsuarioEditado" *@
            <tr>
                <td style="width:40%"><label>Añadir Usuario</label></td>
                <td><input type="text" name="txtUsuarioNuevo" value="@ViewBag.UsuarioEditado" readonly /></td>
            </tr>
            @* ingreso contraseña con value="@ViewBag.ContraseñaEditado" *@
            <tr>
                <td style="width:40%"><label>Añadir Contraseña</label></td>
                <td><input type="password" name="txtContraseñaNuevo" value="@ViewBag.ContraseñaEditado" /></td>
            </tr>
            @* ingreso habilitado con value="@ViewBag.HabilitadoEditado" *@
            <tr>
                <td style="width:40%"><label>Habilitado</label></td>
                <td>
                    <input type="checkbox" name="chkHabilitadoNuevo" @ViewBag.HabilitadoEditado />
                </td>
            </tr>
            @* boton que actuliza el formulario  *@
            <tr>
                <td colspan="2" style="text-align:right"><input type="submit" value="Actualizar registro" /></td>
            </tr>
        </table>
    </div>
</form>
